# Flask Core
Flask==2.3.3
Flask-WTF==1.1.1
Jinja2==3.1.2
click==8.1.7
itsdangerous==2.1.2
Werkzeug==2.3.7

# Image and Video Processing
imageio==2.34.1
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.4
pillow==10.3.0
tqdm==4.66.2
proglog==0.1.10

# Database
psycopg2-binary
SQLAlchemy==2.0.20


# Dependencies needed for above packages
certifi==2023.7.22
charset-normalizer==3.3.0
idna==3.4
requests==2.31.0
urllib3==2.0.6

